* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{

    font-size: 50px;
    margin-bottom: 22px;
    margin-top: 22px;
    box-shadow: 7px 13px 37px #000;
    background: rgb(82, 1, 82);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     



}

.datos {

    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(82, 1, 82);



}

